.cart{
   border:  1px solid rgba(0, 0, 0, 0.5);
   margin: 10px;
   width: 300px;
   height: 500px;
   background-color: rgb(43, 42, 41);
   padding: 10px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
   border-radius: 5px;
}

.cart:hover{
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.cart h1{
    color: white;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}