.employee-box {
    border: 1px dashed #666666;
    padding: 12px;
    margin-top: 15px;
    background-color: #ffff;
}

.employee-box h4 {
    margin: 0 0 10xp 0;
    color: #333333;
}

.employee-box p {
    margin: 6px 0;
    font-size: 14px;
    color: #555555;
}