.main{
    width: 500px;
    height: 500px;
    background-color: rgb(26, 34, 34);
    margin: 100px auto;
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.main h1,h3{
  color: white;
  font-family: 'Times New Roman', Times, serif;
}

.main select{
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid blue;
}

.main button{
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid blue;
    margin-top: 200px;
    background-color: bisque;
}